// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$medium-gray: #A9A9A9;
$text-black: rgb(72, 72, 72);
$clear: #E9E9E9;
$medium: #99D3DF;
$strong: #062F4F;
$pop: #88BBD6;
$white: rgb(255, 255, 255);
