.banner {
  text-align: center;
  height: calc(100vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner h2 {
  color: white;
  font-size: 25px;
  font-weight: normal;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 25px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-size: 12px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.content {
  margin-top: 25px;
}
.content-min-height {
  min-height: calc(100vh - 70px);
}
.row {
  margin-top: 20px;
}
.input{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: rgba(0, 0, 0, 0);
  border: solid white 1px;
  outline: none;
  color: white;
  border-radius: 3px;
  width: 250px;
  height: 50px;
  text-align: center;
}
.ml3 {
  font-weight: 900;
  font-size: 3.5em;
}
h2 {
  text-align: center;
  font-family: $body-font;
  color: #A9A9A9;
}
