<div class="container">
  <div class="medium-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1517976547714-720226b864c1?ixlib=rb-0.3.5&s=44ef7f198828fa8005ef23032926c29d&auto=format&fit=crop&w=1050&q=80');">
    <div class="banner-content">
      <h1>Your bookings</h1>
    </div>
  </div>

  <div class="row">
    <div class="bookings-column">
      <h3> Bookings: </h3>
        <% @bookings.each do |booking| %>
          <p> <%= @booking.id %> - to :<%= @booking.flight.destination %> </p>
        <% end %>
    </div>

    <div class="status-column">
      <h3> Status: </h3>
        <% @bookings.each do |booking| %>
          <p> <%= @booking.status %> </p>
        <% end %>
    </div>

    <div class="cancel-column">
      <h3> Cancel: </h3>
        <% @bookings.each do |booking| %>
          <%= link_to booking_path(booking), method: :delete, class: 'btn btn-danger' %>
        <% end %>
    </div>

</div>
