<div class="container">
<h1>Rocket details</h1>

<h2>Model : <%= @rocket.model %></h2>
<h2>Capacity : <%= @rocket.capacity %> </h2>
<%= cl_image_tag @rocket.photo, width: 400, height: 300, crop: :fill %>
</div>

