.background-img {
  background-repeat: no-repeat;
  min-height: calc(100vh - 70px);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
