
.bills-and-button {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 10px;
  height: 150px;
  color: $text-black;
  position: relative;
}

.bills-large {
  position: relative;
  margin: 10px;
  padding: 10px;
  width: 80%;
  height: 150px;
  flex-grow: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: $white;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
}

.bills-category {
  padding-left: 10px;
  p {
    font-size: 16px;
    font-weight: lighter;
    color: $strong;
  }
}

.bills-description {
  padding-left: 10px;
  font-weight: bold;
  color: $text-black;
    p {
    font-size: 16px;
    font-weight: lighter;
      em {
        font-size: 16px;
      }
    }
}

.bills-description ul {
  list-style-type: none;
  font-size: 24px;
    em {
      font-size: 16px;
    }
}

.bills-book-button {
  position: absolute;
  padding-top: 20px;
  height: 50%;
  width: 20%;
  right: 60px;
  color: white;
  border: 1px solid $strong;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  background: $strong;
  font-family: $buttons-font;
  font-size: 24px;

  &:hover {
  background: $medium;
  text-decoration: none;
  border: 1px solid $medium;

  }
}

.bills-cancel-button {
  position: absolute;
  padding-top: 8px;
  height: 30%;
  width: 15%;
  color: white;
  border: 1px solid $red;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  background: $red;
  font-family: $buttons-font;
  font-size: 20px;

  top: 80px;

  &:hover {
  background: #CF2F34;
  text-decoration: none;
  border: 1px solid #CF2F34;
  color: white;
  }
}
.bills-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  opacity: 0;
}

.bill-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
