.message {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  border-bottom: 1px solid $medium-gray;
  margin: 10px;
  color: white;
}
.message:last-child {
  border-bottom: none;
  margin-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 100px;
}
.message-name h3 {
  // color: black;
  font-size: 24px;
  margin-bottom: 0px;
}
.message-name h2 {
  // color: black;
  font-size: 28px;
  margin-bottom: 0px;
}
.message-name p {
  color: $light-gray;
  margin: 6px 0;
  font-size: 16px;
}

.message-body {
  padding-left: 20px;
  padding-right: 20px;
}

.message-body p {
  color: $light-gray;
  margin: 6px 0;
  font-size: 16px;
}
.message-body h3 {
  // color: black;
  font-size: 24px;
  margin-bottom: 0px;
}
.message-body h2 {
  // color: black;
  font-size: 28px;
  margin-bottom: 0px;
}
.message-status {
  font-size: 16px;
  font-weight: bold;
  color: $light-gray;
}
// .status.accepted {
//   color: #04A366;
// }
// .status.declined {
//   color: red;
// }
// .status.pending {
//   color: lightgrey;
// }
.background-card {
  display: flex;
}
