.message {
  display: flex;
  align-items: center;
  // flex-wrap: wrap;
  margin: 15px;
  padding: 20px;
  border-bottom: 1px solid $medium-gray;
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  padding-left: 10px;
  padding-right: 20px;
  margin-right: 10px;
  min-width: 100px;
}
.message-name h3 {
  color: black;
  font-size: 24px;
  margin-bottom: 0px;
  text-align: center;
}
.message-name h2 {
  color: black;
  font-size: 28px;
  margin-bottom: 0px;
  text-align: center;
}
.message-name p {
  color: $medium-gray;
  margin: 6px 0;
  font-size: 16px;
}

.message-body {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.message-body p {
  color: $medium-gray;
  margin: 6px 0;
  font-size: 16px;
}
.message-body h3 {
  color: black;
  font-size: 24px;
  margin-bottom: 0px;
}
.message-body h2 {
  color: black;
  font-size: 28px;
  margin-bottom: 0px;
}
.message-status {
  font-size: 16px;
  font-weight: bold;
  color: dark-gray;
}

.grid-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  .btn-cancels {
    grid-row: 2 / span 1;
  }
  .btn-details {
    grid-row: 2 / span 1;
  }
  .status {
    text-align: center;
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }
}

.message-details {
  display: flex;
  align-items: center;
  // flex-wrap: wrap;
  padding: 20px;
  border-bottom: 1px solid $medium-gray;
  justify-content: space around;

  .message-body {
    text-align: center;
    flex : 1 0 0;
  }
}

.rocket-pic-booking {
  // height: 400px;
  // width: 400px;
  border-radius: 5px;
}
// .status.accepted {
//   color: #04A366;
// }
// .status.declined {
//   color: red;
// }
// .status.pending {
//   color: lightgrey;
// }
